header {
    padding: 30px;
}
.game-pad {
    height: 100px;
    width: 100px;
    background:silver;
    border: 2px solid black;
    width: 33%; 
    font-size: 400%;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
    position: relative;  
}
.game-pad:focus {
    outline: 0;
}  
#container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
button.restart-btn {
    margin-top: 5%; 
    width: 60%;
    padding: 1rem ; 
}
.fin {  
    width: 80%;
    height: 100px;
    z-index: 1;
    background-color: white;
    border: 3px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 4%;  
}